@font-face {
  font-family: "digital";
  src:  url('./fonts/digital.ttf') format('truetype')
}

.App { 
  display: grid;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.App-header {
  padding: 0.15em;
  margin: 2.5em 0;
  color: white;
}

.App-title {
  font-size: 2em;
}