@font-face {
  font-family: "digital";
  src:  url('./fonts/digital.ttf') format('truetype')
}

.App { 
  display: grid;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.App-header {
  padding: 0.15em;
  margin: 2.5em 0;
  color: white;
}

.App-title {
  font-size: 2em;
}

/*    Calculator    */

.calculator{
  font-weight: bold;
  font-family: digital;
  background: rgb(50, 50, 50);
  height: 35em;
  width: 30em;
  padding: .25em .25em 0 .25em;
  border: .125em  solid rgb(50, 50, 50);
  border-radius: .3125em;
  box-shadow: .125em .125em .14375em .14375em rgb(25, 25, 25);
}


/*    Equation    */
.equation{
  display: flex;
  background: rgb(15, 15, 15);
  justify-content: flex-end;
  padding: 0 .25em;
  font-size: 2em;
  color: rgba(225, 210, 75, .75);
  height: 7.5%;
  border: .2em double rgb(75, 75, 75);
  border-radius: .25em .25em 0 0;
}


/*    Answer    */
.answer{
  display: flex;
  background: rgb(15, 15, 15);
  justify-content: flex-end;
  padding: 0 .15em;
  font-size: 4em;
  height: 15%;
  align-content: center;
  border: .1em double rgb(75, 75, 75);
  border-radius: 0 0 .15em .15em;
}


/*    Buttons    */
.buttons{
  display: grid;
  height: 67.5%;
  margin-top: .5em;
  background: rgb(50, 50, 50);
  border-radius: 0 0 .1875em 1875em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:  
    "seven  eight nine  div ac"
    "four   five  six   mul mod"
    "one    two   three sub eql"
    "zero   zero  dec   add eql" ;
}

button{
  display: flex;
  font-family: digital;
  font-size: 2.25em;
  justify-content: center;
  margin: .0525em;
  border: .065em solid rgb(25, 25, 25);
  border-radius: .175em;
  box-shadow: .03125em .03125em rgb(25, 25, 25);
}

button:hover {
  background: rgba(200, 200, 200, 0.75);
}

button:active {
  transform: translate(.0525em,.0525em);
  font-size: 1.85em;
  box-shadow: inset .025em .025em .05em .05em rgb(25, 25, 25);
  background: gray;
  color: lightgray;
}

.buttons > #zero{
  grid-area: zero;
}

.buttons > #one{
  grid-area: one;
}

.buttons > #two{
  grid-area: two;
}

.buttons > #three{
  grid-area: three;
}

.buttons > #four{
  grid-area: four;
}

.buttons > #five{
  grid-area: five;
}

.buttons > #six{
  grid-area: six;
}

.buttons > #seven{
  grid-area: seven;
}

.buttons > #eight{
  grid-area: eight;
}

.buttons > #nine{
  grid-area: nine;
}

.buttons > #dec{
  grid-area: dec;
}

.buttons > #add{
  grid-area: add;
}

.buttons > #subtract{
  grid-area: sub;
}

.buttons > #multiply{
  grid-area: mul;
}

.buttons > #divide{
  grid-area: div;
}

.buttons > #equal{
  grid-area: eql;
}

.buttons > #modulo{
  grid-area: mod;
}

.buttons > #allclear{
  grid-area: ac;
}

/*    Author    */
.author{
  display: flex;
  height: 1.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(15, 15, 15);
  margin: .5em .25em;
  justify-content: flex-end;
  font-size: .725em;
  font-weight: bold;
}
