/*    Buttons    */
.buttons{
    display: grid;
    height: 67.5%;
    margin-top: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:  
      "seven  eight nine  div ac"
      "four   five  six   mul mod"
      "one    two   three sub eql"
      "zero   zero  dec   add eql" ;
}
  
button{
    display: flex;
    font-family: digital;
    font-size: 2.25em;
    justify-content: center;
    margin: .11em;
    background: rgb(170, 170, 170);
    color: rgb(20, 20, 20);
    border: .05em solid rgba(50, 50, 50, 0.5);
    border-radius: .3em;
    box-shadow: .03125em .03125em rgb(25, 25, 25);
}
  
button:hover {
    background: rgba(120, 120, 120, 0.75);
}
  
button:active {
    transform: translate(.0525em,.0525em);
    font-size: 1.85em;
    border: .04em solid rgba(10, 10, 10, 0.75);
    box-shadow: inset .02em .02em .05em .05em rgb(3, 3, 3);
    color: rgb(250, 238, 200);
}
  
.buttons > #zero{
    grid-area: zero;
}
  
.buttons > #one{
    grid-area: one;
}
  
.buttons > #two{
    grid-area: two;
}
  
.buttons > #three{
    grid-area: three;
}
  
.buttons > #four{
    grid-area: four;
}
  
.buttons > #five{
    grid-area: five;
}
  
.buttons > #six{
    grid-area: six;
}
  
.buttons > #seven{
    grid-area: seven;
}
  
.buttons > #eight{
    grid-area: eight;
}
  
.buttons > #nine{
    grid-area: nine;
}
  
.buttons > #dec{
    grid-area: dec;
}
  
.buttons > #add{
    grid-area: add;
}
  
.buttons > #subtract{
    grid-area: sub;
}
  
.buttons > #multiply{
    grid-area: mul;
}
  
.buttons > #divide{
    grid-area: div;
}
  
.buttons > #equal{
    grid-area: eql;
}
  
.buttons > #modulo{
    grid-area: mod;
}
  
.buttons > #allclear{
    grid-area: ac;
}

#equal {
    background: rgb(75, 75, 200);
}

#equal:hover {
    background: rgba(25, 65, 150, 0.75);
}
  
#equal:active {
    transform: translate(.0525em,.0525em);
    font-size: 1.85em;
    border: .04em solid rgba(10, 10, 10, 0.75);
    box-shadow: inset .02em .02em .05em .05em rgb(25, 25, 25);
    background: rgb(20, 50, 130);
    color: rgba(220, 200, 150, 0.75);
}

#allclear {
    background: rgb(190, 50, 50);
}

#allclear:hover {
    background: rgba(170, 45, 45, 0.75);
}
  
#allclear:active {
    transform: translate(.0525em,.0525em);
    font-size: 1.85em;
    border: .04em solid rgba(10, 10, 10, 0.75);
    box-shadow: inset .02em .02em .05em .05em rgb(25, 25, 25);
    background: rgb(130, 20, 30);
    color: rgba(220, 200, 150, 0.75);
}