/*    Calculator    */
.calc{
    font-weight: bold;
    font-family: digital;
    background: rgb(35, 35, 35);
    height: 32em;
    width: 27em;
    padding: 1.15em .75em 0 .75em;
    border: .1em solid rgba(25, 25, 25, 0.5);
    border-radius: .5em;
    box-shadow: .5em .5em .3em -.1em rgba(25, 25, 25, 0.75);
}
  