/*    Equation    */

.formula{
    display: flex;
    overflow-y: scroll;
    background: rgb(30, 25, 20);
    justify-content: flex-end;
    padding: 0 .35em;
    font-size: 1.75em;
    color: rgba(225, 210, 75, .75);
    height: 1.35em;
    border: .1em inset rgb(85, 85, 85);
    box-shadow: inset .1em .1em rgb(30, 30, 30);
    border-radius: .25em .25em 0 0;
}
  
.answer{
    display: flex;
    background: rgb(15, 15, 15);
    justify-content: flex-end;
    padding: 0 .25em;
    margin: .05em 0 .35em 0;
    font-size: 3.5em;
    height: 1.4em;
    align-content: center;
    border: .05em inset rgb(85, 85, 85);
    box-shadow: inset .1em rgb(30, 30, 30);
    border-radius: 0 0 .15em .15em;
}
  