/*    Equation    */

.formula{
    display: flex;
    overflow-y: scroll;
    background: rgb(30, 25, 20);
    justify-content: flex-end;
    padding: 0 .5em;
    font-size: 2em;
    color: rgba(225, 210, 75, .75);
    height: 1.35em;
    border: .2em double rgb(75, 75, 75);
    border-radius: .25em .25em 0 0;
}
  
.answer{
    display: flex;
    background: rgb(15, 15, 15);
    justify-content: flex-end;
    padding: 0 .15em;
    font-size: 4em;
    height: 1.4em;
    align-content: center;
    border: .1em double rgb(75, 75, 75);
    border-radius: 0 0 .15em .15em;
}
  